*{
    margin: 0;
    padding:0;
}

:root{
    --cor-de-fundo: #2c2938;
    --cor-btn: #a18617;
    --cor-lista: rgb(74, 71, 83);
}

body{
    background-color: var(--cor-de-fundo);
}

nav{
    justify-self: center;
    padding: 30px;
}

input:hover{
    cursor: pointer;
}

nav input{
    font-size: 30px;
    background-color: var(--cor-btn);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
}

main{
    background-color:var(--cor-lista) ;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}


hr{
    width: 100%;
}

p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-size: large;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 10px;
}

#janela_modal{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 41, 56, 0.7);
    align-content: center;
    justify-content: center;
}

#conteudo_modal{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-de-fundo);
    width: 700px; 
    height: 400px;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 2px 9px black;
}

.tarefa{
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
}

.tarefa input{
    margin: 10px 5px;
    padding: 10px;
    background-color: var(--cor-btn);
    border: 0;
    border-radius: 5px;
}

#texto{
    width: 90%;
    margin: 20px;
    height: 40px;
    padding:10px;
    border-radius: 20px;
    border: 0;
    font-size: 18px;
}

.btn_modal{
    width: 90%;
    text-align: end;    
}

.btn_modal input[type="button"]:hover{
    cursor: pointer;
}

.btn_modal input[type="button"]{
    margin: 10px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    background-color: var(--cor-btn);
    font-weight: bold;
}

#edit_2{
    display: none;
}