@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-de-fundo:rgba(0, 0, 0,0.7);
    --cor-texto: rgb(75, 42, 42);
}

body{
    max-height: 100%;
    background-image: url('../img/image-church.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Source Code Pro';
}

#conteiner{
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 10% auto;

}

#menu{
    border-radius: 10px;
    border: 1px solid var(--cor-texto);
    background-color: var(--cor-de-fundo);
    text-align: center;
}

#menu legend{
    text-align: start;
    letter-spacing: 10px;
    font-weight:bold;
    margin: 0 25px;
    color: var(--cor-texto) ;
    
}

input:not([type="radio"]){
    width: 90%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 16px;
}   

input:focus{
    
}

button{
    width: 90%;
    margin: 20px;
}

