@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(30, 38%, 92%);
}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 100%);
    margin: 10% auto;
    width: 90%;
    box-sizing: border-box;
    border-radius: 10px;
}

#img-Perfume #fotoMobile{
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    width: 100%;
}

#img-Perfume #fotoDesktop{
    display: none;
}

header .perfume {
    display: block;
    margin: 5px;
    column-gap: 5px;
    letter-spacing: 5px;
}


#secao-principal{
    padding: 20px;
    width: 100%;
}

#secao-principal header h1{
    font-family: 'Fraunces';
    color: hsl(212, 21%, 14%);
    font-weight: 700;
    font-size: xx-large;
    margin: 10px 0;
}

#secao-principal p{
    margin: 20px 0;
}

#precos{
    margin: 20px 0;
}

#secao-principal #precos h2{
    display: inline;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces';
    font-size: xx-large;
}

#secao-principal #precos span{
    color:hsl(228, 12%, 48%);
    margin: 0 20px;
}

#secao-principal button{
    font-family:'Montserrat';
    font-size: 700 ;
    width: 100%;
    background-color:hsl(158, 36%, 37%) ;
    color:hsl(30, 38%, 92%) ;
    border: 0;
    border-radius: 10px;
    height: 50px;
}

#secao-principal button img{
    margin: 0 5px;
}


.text{
    font-family:'Montserrat' ;
    font-weight: 500;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

#secao-principal button:hover{
    transition: all 500ms ;
    background-color:hsl(158, 42%, 14%) ;
    cursor: pointer;
}

footer{
    text-align: center;
}

@media (min-width:600px){
    main{
        display: flex;
        flex-flow: row;
        max-width: 600px;
    }

    #img-Perfume #fotoMobile{
        display: none;
    }

    #img-Perfume #fotoDesktop{
        display: block;
        height: 100%;
        max-inline-size: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        
    }

    #secao-principal{
        width: 80%; 
        height: 100%;
        text-align: start;
        padding: 30px ;
    }

    #secao-principal #precos{
        margin-top: 30px;
    }
    

    #secao-principal button{
        margin-top: 20px;
    }

}